<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to  <span class="title"> {{ title }}! </span> 
  </h1>
 <div class="img-holder"> 
  <img src="assets/imgs/cdk.png"> 
 </div> 
<b> This project is going to be a source for everything angular : </b>



<div class="mylist"> 
    <div class="my-list-item"> Angular-GUI ::  https://marketplace.visualstudio.com/items?itemName=sasxa-net.angular-gui </div> 
    <div class="my-list-item"> Angular-Tutorial :: https://angular.io/docs </div>
    <div class="my-list-item"> Angular-Resources :: https://angular.io/resources </div> 
</div>

<i> What apart from this? </i> 

<p> Apart from this we'll also add links to amazing angular projects , reusable components etc. <br> To summarize , the objective of this project is to 
  be a one-stop shop for everything angular.  </p> 

</div>

